@use 'styles' as *;

.Images {
  width: 100%;
  height: 300px;

  @include medium {
    padding: 2rem;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
  }

  .Main {
    position: relative;
    height: 100%;
    flex: 1;

    @include medium {
      height: 384px;

      img {
        height: 100%;
        border-radius: 15px;
      }
    }
  }

  .Thumbnails {
    display: none;

    @include medium {
      margin-top: 2rem;
      display: flex;
      gap: 32px;
    }
  }
}
