@use 'styles' as *;

.Images {
  width: 100%;
  height: 300px;
  position: relative;

  @include small {
    height: 400px;
  }

  @include medium {
    padding: 2rem;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
  }

  .ImagesControl {
    position: absolute;
    width: 48px;
    height: 48px;
    top: 50%;
    transform: translateY(-50%);
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    border: none;
    cursor: pointer;
    z-index: 5;
    transition: color 300ms ease-in-out;

    &:hover {
      color: $orange;
    }

    &:first-of-type {
      left: 5px;
    }

    &:last-of-type {
      right: 5px;
    }

    @include medium {
      display: none;
    }
  }

  .Main {
    width: 100%;
    height: 100%;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;

    &::-webkit-scrollbar {
      display: none;
    }

    @include medium {
      height: 384px;
      flex: 1;
      cursor: zoom-in;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      scroll-snap-align: center;

      @include medium {
        width: 100%;
        height: 100%;
        border-radius: 15px;
        flex: none;
      }
    }
  }

  .Thumbnails {
    display: none;

    @include medium {
      margin-top: 2rem;
      display: flex;
      gap: 32px;
    }
  }
}

.LightBox {
  width: 100%;

  .Thumbnails {
    display: flex;
    justify-content: center;
  }
  .ImagesControl {
    display: block;
    transform: translateY(-75px);
  }
}
