@use 'styles' as *;

.Home {
  @include container;
  display: flex;
  flex-direction: column;

  @include medium {
    flex-direction: row;
    align-items: center;
    margin-top: 3rem;
    height: 500px;
    gap: 16px;
  }

  @include large {
    height: 600px;
    gap: 3rem;
  }

  @include xlarge {
    height: 650px;
  }
}
